<div id="all" ng-controller="ProdDetailsCtrl">
    <div class="notification">{{notificationtext}}</div>
    <div id="content">
        <div class="container">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li>Product Detail</li>
                </ul>
            </div>

            <div class="col-md-12">

                <div class="row" id="productMain">
                    <div class="col-sm-4 zoom_img">
                        <div id="mainImage">
                            <img style="max-width: 100%; height: 266px;" src="~/Content/img/@ViewBag.prodMainDetails.mainimageurl.Trim()1.jpg" alt="" class="img-responsive">
                        </div>

                        <div class="ribbon sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->

                    </div>

                    <div class="col-sm-8">
                        <div class="productDetailBox">
                            <h2 style="font-size: 19px;" class="text-center">@ViewBag.prodSubDetails.title</h2>
                            <p class="strike">Rs. @ViewBag.prodSubDetails.oldprice</p>
                            <p class="price">Rs. @ViewBag.prodSubDetails.newprice</p>
                            <p class="text-center buttons">
                                Select Quantity - 
                                <select class="select-style" ng-model="itemQuantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </p>    
                            <p class="text-center buttons">
                                @{
                                    <a ng-click="addToBasket('@(ViewBag.prodSubDetails.title)', '@(ViewBag.prodSubDetails.id)')" class="btn btn-default"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="@Url.Action("Index", "Basket")" class="btn btn-default"><i class="fa fa-heart"></i> Add to wishlist</a>
                                }
                            </p>
                        </div>                    
                    </div>

                    <div class="row" id="productMain">
                        <div class="col-sm-5" style="margin-left: 14px;">
                            <div class="row" id="thumbs">
                                <div class="col-xs-2">
                                    <a href="~/Content/img/@ViewBag.prodMainDetails.mainimageurl.Trim()1.jpg" class="thumb">
                                        <img src="~/Content/img/@ViewBag.prodMainDetails.subimageurl.Trim()1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="~/Content/img/@ViewBag.prodMainDetails.mainimageurl.Trim()2.jpg" class="thumb">
                                        <img src="~/Content/img/@ViewBag.prodMainDetails.subimageurl.Trim()2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="~/Content/img/@ViewBag.prodMainDetails.mainimageurl.Trim()3.jpg" class="thumb">
                                        <img src="~/Content/img/@ViewBag.prodMainDetails.subimageurl.Trim()3.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="~/Content/img/@ViewBag.prodMainDetails.mainimageurl.Trim()3.jpg" class="thumb">
                                        <img src="~/Content/img/@ViewBag.prodMainDetails.subimageurl.Trim()3.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="buttons">
                    <h4 class="buttons" style="font-size: 13px;">Share This Item</h4>
                    <a href="#" class="external facebook text-center" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="external gplus text-center" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="external twitter text-center" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="email text-center" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                </p>
                <div class="box" id="details">
                    <p>
                        <h4>Product details</h4>
                    <p>@ViewBag.prodMainDetails.details.Trim()</p>

                    @foreach (var info in ViewBag.productInfo)
                    {
                        <h4 style="font-size: 14px;">@info.title</h4>

                        <p>
                            @info.sectioncontent
                        </p>

                        if (@info.imageurl != null)
                        {
                            <img style="width: 40%; margin-left: auto; margin-right: auto; display: block; padding: 13px 20px 13px 20px;"
                                    src="~/Content/img/Products/@info.imageurl" alt="" class="img-responsive">
                        }
                    }
                </div>

                <div class="row same-height-row">
                    <div class="col-md-12 col-sm-6">
                        <div class="box same-height" style="height: 59px;">
                            <h4>You may also like these products</h4>
                        </div>
                    </div>
                </div>
                <div class="row same-height-row">
                    <div class="col-md-3">
                        <div class="product same-height">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="detail.html">
                                            <img src="~/Content/img/product2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="detail.html">
                                            <img src="~/Content/img/product2_2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="detail.html" class="invisible">
                                <img src="~/Content/img/product2.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3>Fur coat</h3>
                                <p class="price">$143</p>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3">
                        <div class="product same-height">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="detail.html">
                                            <img src="~/Content/img/product1.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="detail.html">
                                            <img src="~/Content/img/product1_2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="detail.html" class="invisible">
                                <img src="~/Content/img/product1.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3>Fur coat</h3>
                                <p class="price">$143</p>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3">
                        <div class="product same-height">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="detail.html">
                                            <img src="~/Content/img/product3.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="detail.html">
                                            <img src="~/Content/img/product3_2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="detail.html" class="invisible">
                                <img src="~/Content/img/product3.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3>Fur coat</h3>
                                <p class="price">$143</p>

                            </div>
                        </div>
                        <!-- /.product -->
                    </div>

                </div>
            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->
</div>
